<footer>
  <div class="footer-wrap">
    <div class="footer-tagline">
      <p>{{ site.data.settings.footer }}</p>
    </div>
    <div class="social-media">
      <nav>
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" target="_blank"><i class="fa fa-{{ item.icon }}" aria-hidden="true"></i></a>
        {% endfor %}
      </nav>
    </div>
  </div>

  <script type="text/javascript" src="/assets/js/lightbox.js"></script>
  <link rel="stylesheet" href="/assets/css/lightbox.css">
</footer>
